
body {
	background-color: #6b6357;
	font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;	font-size: 12pt;
}

#container {
	color: #4c4c4c;
	background-color: #F4F1DA;
	width: 670px;
	margin: 0 auto;
	border: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  border-radius: 10px;
}

img {
}

#main {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	min-height: 500px;
}

#callout {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-top: 5px;
	margin: 0px;
	font-style: italic;
	float: right;
	background-color: #fefbdd;
}

img, #callout {
	border-style: outset;
	border-left-width: 0px;
	border-bottom-width: 2px;
	border-right-width: 2px;
	border-top-width: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius: 5px;
}

#callout>p {
  margin-top: 2px;
  margin-bottom: 3px;
}

a {
	color: #5e462f;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

h1 {
  font-weight: normal
}

h2 {
  font-weight: normal
}

p {
	line-height: 15pt;
}

.photo-credit {
	font-size: 50%;
}

td.time {
	text-align: center;
	vertical-align: top;
}

td.speaker {
	font-style: italic;
}

#programme tr {
	vertical-align: top;
	height: 2em;
}


